body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  font-family: "Asimovian", sans-serif;
  font-weight: 400;
  font-style: normal;
}
